
body{
    background-color: orange;
    color: aliceblue;
    font-size: 20px;
}

h1{
    text-align: center;
}

div{
    margin-bottom: 20px;
}

.jojo
{
    position: absolute;
    right:35%;
    
    padding: 5px 120px;
}

.rr{
    position: absolute;
    left:38%;
    
    padding: 5px 20px;
}

.r1{
    padding: 5px 20px;
}
.r2{
    

    margin-left: 36%;

}